[Unit]
Description=Sensor MQTT Interface
After=network.target remote-fs.target
StartLimitBurst=1
StartLimitIntervalSec=10

[Service]
WorkingDirectory=/home/pi/
ExecStart=/home/pi/venv-mqtt/bin/python3 /everything/devel/raspi/sensor2mqtt/sensor2mqtt.py
KillMode=mixed
Restart=on-failure
RestartPreventExitStatus=255
TimeoutStopSec=5

[Install]
WantedBy=default.target
